/* The Modal (background) */
.modal {
    background-color: $blackOpacity;
    background-color: $darkGrey;
    padding-top: 100px;
    position: fixed;
    overflow: auto;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;


    .modal-content {
        box-shadow: 0 4px 8px 0 $blackOpacity,0 6px 20px 0 $blackOpacity;
        -webkit-animation-name: animatetop;
        border: 1px solid $lightDarkGrey;
        -webkit-animation-duration: 0.4s;
        background-color: $lightWhite;
        animation-name: animatetop;
        animation-duration: 0.4s;
        position: relative;
        margin: auto;
        padding: 0;
        width: 80%;

        .modal-header {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: #fff;

            .close {
                font-weight: bold;
                font-size: 28px;
                color: #fff;
                float: right;

                &:hover,
                &:focus {
                    text-decoration: none;
                    cursor: pointer;
                    color: #000;
                }
            }
        }

        .modal-body {
            padding: 2px 16px;
        }

        .modal-footer {
            background-color: #5cb85c;
            padding: 2px 16px;
            color: #fff;
        }
    }
}
