main.ywca-harbor {
    &.contact-us {

        #contactUsHero {
            background-image: url(https://image.shutterstock.com/image-photo/african-american-cute-little-girl-260nw-288152339.jpg);
            @extend %hero;
        }

        #contactUsResources {

            #contactUsTabs {

                .col-4 {
                    text-align: center;
                }
            }
        }

        #contactUsInformation {
            .col-6 {

                &:first-child {
                    div {
                        padding: 0px .83333%;
                        margin-bottom: 45px;
                        float: left;
                        width: 50%;
                    }
                }

                #contactUsMap {
                    background-image: url(/assets/img/map-lg.png);
                    background-position: center;
                    background-size: cover;
                    padding-bottom: 485px;

                    .map-direction {

                        .directions {
                            padding: 48px 48px 48px 80px;
                            background: $primaryOrange;
                            background-size: 6%;
                            position: relative;
                            width: 360px;
                            margin: auto;

                            p {
                                color: #fff;
                            }

                            .btn {
                                border: 2px solid #fff;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }

    }
}
