main.ywca-harbor {
    &.index {
        #indexHero {
            background-image: url(https://image.shutterstock.com/image-photo/profile-little-african-girl-writing-260nw-536550898.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height:  calc(100vh - 96px);
        }
    }
}
